swissupdemo.com:
  host: swissupdemo.com
  user: ec2-user
  port: 22
  identityFile: ~/.ssh/key.pem
  forwardAgent: true
  multiplexing: true
  stage: production
  deploy_path: /var/www/html
  mysql_host: 127.0.0.1
  mysql_user: user
  mysql_pass: pass
  base_url: http://{{hostname}}/releases/{{release}}
  writable_use_sudo: true
  add_sample_data: false

swissupdemo.com/test:
  host: swissupdemo.com
  user: ec2-user
  port: 22
  identityFile: ~/.ssh/magentodemoswissuplabs.pem
  deploy_path: /var/www/html/test
  forwardAgent: true
  multiplexing: true
  stage: staging
  mysql_host: 127.0.0.1
  mysql_user: user
  mysql_pass: pass
  base_url: http://{{hostname}}/current
  writable_use_sudo: true
  add_sample_data: true