###################################################
#  Magento intallation and configuration settings
###################################################
.magento2-settings: &magento2-settings
  repository: git@github.com:magento/magento2.git
  shared_dirs:
    - var/composer_home
    - var/log
    - var/cache
    - var/backups
    - var/export
    - var/report
    - var/import_history
    - var/session
    - var/importexport
    - var/backups
    - var/tmp
    - pub/sitemaps
    - pub/media
  shared_files:
    - app/etc/config.php
    - app/etc/env.php
    - var/.maintenance.ip
  writable_dirs:
    - var
    - pub/static
    - pub/media
    - generated
  clear_paths:
    - generated/*
    - pub/static/_cache/*
    - pub/static/_requirejs/*
    - pub/static/adminhtml/*
    - pub/static/frontend/*
    - var/generation/*
    - var/cache/*
    - var/page_cache/*
    - var/view_preprocessed/*

.magento1-settings: &magento1-settings
  repository: git@github.com:OpenMage/magento-mirror.git
  shared_dirs:
    - var
    - media
  shared_files:
    - app/etc/local.xml
  writable_dirs:
    - var
    - media

.magento2-istall-settings: &magento2-istall-settings
  admin-firstname: John
  admin-lastname: Doe
  admin-email: john.doe@gmail.com
  admin-user: admin
  backend-frontname: admin
  language: en_US
  currency: USD
  timezone: America/Chicago
  use-rewrites: 1

##################################
#  Abstract host provider settings
##################################

.swissupdemo: &swissupdemo
  host: swissupdemo.com
  user: ec2-user
  port: 22
  identityFile: ~/.ssh/key.pem
  # forwardAgent: true
  # multiplexing: true
  deploy_path: /var/www/html

.mysql: &mysql
  mysql_host: 127.0.0.1
  mysql_user: user
  mysql_pass: pass

#########
#  Hosts
#########

# swissupdemo.com:
#  <<: *swissupdemo
#  <<: *mysql
#  <<: *magento2-settings
#  <<: *magento2-istall-settings
#  stage: production
#  mysql_db: main
#  deploy_path: /var/www/html
##  base_url: http://{{hostname}}/releases/{{release}}
#  base_url: https://{{hostname}}/

swissupdemo.com/test:
  <<: *swissupdemo
  <<: *mysql
  <<: *magento2-settings
  <<: *magento2-istall-settings
  stage: staging
  mysql_db: test
  deploy_path: /var/www/html/test
  base_url: http://{{hostname}}/current
  add_sample_data: true